.container {
  width: 480px;
  margin: 0 auto;
  overflow: hidden;
  max-width: 100%;
  /* background-color: var(--yellow-color); */
}
.wrapper {
  background-color: var(--yellow-color);
  padding: 20px 24px 0 24px;
}
.content {
  background-color: var(--white-color);
  border-top-right-radius: 1.2rem;
  border-top-left-radius: 1.2rem;
  padding: 20px 24px 0 24px;
}
.content .navigate {
  display: flex;
}
