.btn {
  flex: 1;
  font-size: 20px;
  border-radius: 10px;
  border: none;
  color: white;
  font-weight: 600;
}
.btn.btn-primary {
  background: var(--orange-color);
  font-size: 20px;
  border-radius: 10px;
  border: none;
  color: white;
  font-weight: 600;
}
.btn.btn-transparent {
  background: transparent;
  color: var(--text-second-color);
}
