:root {
  --yellow-color: #feef9f;
  --orange-color: #fea014;
  --text-second-color: #d8d8d8;
  --text-color: #060606;
  --white-color: #ffffff;
  --grey-color: #ededed;
}

html {
  font-size: 62.5%;
  line-height: 1.6rem;
  font-family: "Roboto", sans-serif;
}
.btn {
  padding: 2px 20px;
  cursor: pointer;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
html {
  font-family: "Roboto", sans-serif;
}

.wrapperList {
  background-color: var(--grey-color);
  padding: 1px 24px 0 24px;
}

@media (max-width: 438px) {
  .navigate .btn.btn-primary {
    padding: 4px;
    font-size: 14px;
  }
  .navigate .btn.btn.btn-transparent {
    padding: 4px;
    font-size: 14px;
  }

  .userRanking p::before {
    width: 34px;
    left: 23%;
    top: 66%;
  }
  .userRanking p::after {
    width: 34px;
    left: 67%;
    top: 66%;
  }
  .listUser__item.currentUser {
    max-width: 100%;
  }
}

@media only screen and (max-width: 368px) {
  .userRanking p::before {
    left: 18%;
  }

  .topUser__item.topUser__item__nth1 .rankingImg {
    width: 66px;
    height: 66px;
  }
}
